/* ----- M E D I A  Q U E R I E S ----- */

/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
    .purchase-left{
        background-color: #eeeeee;
        padding-bottom: 1em;
    }
    h4{
        margin-bottom: .5em;
        padding-top: 1em;
    }
    .purchase-right{
        margin-top: -.7em;
        background-image: url('images/circles-and-roundabout.png');
        padding-bottom: 7em;
    }
    .purchase-box{
        padding-bottom: 10em;
    }
}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav {                    
        width: 60%;
    }
    .navbar-nav > li {                
        margin-left: 3em;
    }
    .navbar > .container-fluid .navbar-brand{
        margin-left: 1em;
    }
    .navbar-default{
        padding-top: .5em;
    }
     .purchase-left{
        background-image: url('images/photography.png');
        padding-bottom: 5em;
    }
    .purchase-right{
        background-image: url('images/photography.png');
        padding-bottom: 5em;
    }

}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
    .navbar-nav {                    
        width: 60%;
        margin-right: 2em;
    }
    .navbar-nav > li {                
        margin-left: 5em;
    }
    .navbar > .container-fluid .navbar-brand{
        margin-left: 2em;
    }
    .navbar-default{
        padding-top: .5em;
    }
      .purchase-left{
        background-image: url('images/photography.png');
        padding-bottom: 7em;
    }
    .purchase-right{
        background-image: url('images/photography.png');
        padding-bottom: 7em;
    }
}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {
    .navbar-nav {                    
        width: 50%;
        margin-right: 3em;
    }
    .navbar-nav > li{                
        margin-left: 6em;
    }
    .navbar > .container-fluid .navbar-brand{
        margin-left: 2em;
    }
    .navbar-default{
        padding-top: .5em;
    }
     .purchase-left{
        background-image: url('images/photography.png');
        padding-bottom: 7em;
    }
    .purchase-right{
        background-image: url('images/photography.png');
        padding-bottom: 7em;
    }
}

/* ----- G L O B A L  S T Y L E S ----- */

.navbar-nav{
    border-bottom: 2px solid #9DC8C8;
}

.navbar-nav:hover{
   border-bottom: 2px solid #F6B352;
}

.navbar-default{
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-nav > li > a{
    color: #58C9B9;
    font-weight: bold;
    font-size: 11px;
    font-family: 'Lato', san-serif;
} 

.navbar-default .navbar-nav > li > a:hover{
    color: #F6B352;

}
.btn-fourth:hover{
    color: white;
    background-color: #58C9B9;
}

.btn-fourth {
    border: 2px solid #58C9B9;
    background-color: white;
    border-radius: 20px;
    padding: .5em 2em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #58C9B9;

}



/* ----- S P E C I F I C  S T Y L E S ----- */
.purchase-img{
    width: 100%;
    padding: 1em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.purchase-box{
    margin-top: 4em;
    padding-bottom: 3em;
}
.purchase-row{
    margin-top: 2em;
    height: 20em;
}
.purchase-box p{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
h6{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-shadow: 2px 2px #F6B352;
}
.answerm{
    font-family: 'Lobster', cursive;
    font-size: 30px;
   color: #58C9B9;
}
.answer{
    color: #F6B352;
}
.note{
    font-style:italic;
}
input{
    font-family: 'Lato', sans-serif;
}
h4{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-shadow: 2px 2px #F6B352;
}

/* ----- F O O T E R ----- */

.footer { 
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background:#999;
   background-image: url('images/ep_naturalblack.png');
}
.footer-mid{
    color: white;
    font-family: 'Lobster', cursive;
    margin-top: .5em;
    font-size: 22px
}
.footer-ryt{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 10px;
    margin-top: 1.5em;
    text-align: center;
}
.footer-ryt p{
    margin-bottom: -.3em;
}
.footer-left{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 10px;
    margin-top: 1.5em;
    text-align: center;
}
.footer-left p{
    margin-bottom: -.3em;
}

/*T O  T O P*/
.go-top {
  position:fixed;
  bottom: 2px;
  left:0px;
  padding:20px;
  display:none;
  color: #fff;
  cursor: pointer;
  height: 100%;
  opacity: 0.4;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  width:100px;
}
.go-top:after {
  content: '▲';
  position: absolute; 
  bottom:10px;
  left: 50px;
  font-size: 32px;
  font-weight:100;
}
