/* ----- M E D I A  Q U E R I E S ----- */


/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {

    
}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav {                    
        width: 60%;
    }
    .navbar-nav > li {                
        margin-left: 3em;
    }
    .navbar > .container-fluid .navbar-brand{
        margin-left: 1em;
    }
    .navbar-default{
        padding-top: .5em;
    }
    .col-sm-8{
        margin-left: 3.5em;
    }
    .signup-form-box{
        height: 500px;
        margin-top: 5em;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .col-sm-8{
        margin-left: 5.5em;
    }
    .col-sm-9{
        margin-left: 5em;
    }
    .form-horizontal{
        margin-top: 2em;
    }
    .form-group{
        margin-top: 2em;
    }
    
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){  
    .navbar-nav {                    
        width: 60%;
        margin-right: 2em;
    }
    .navbar-nav > li {                
        margin-left: 5em;
    }
    .navbar > .container-fluid .navbar-brand{
        margin-left: 2em;
    }
    .navbar-default{
        padding-top: .5em;
    }
     .col-sm-8{
        margin-left: -3.5em;
    }
    .signup-form-box{
        height: 500px;
        margin-top: 5em;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .col-sm-8{
        margin-left: 5.5em;
    }
    .col-sm-9{
        margin-left: 5em;
    }
    .form-horizontal{
        margin-top: 2em;
    }
    .form-group{
        margin-top: 2em;
    }
}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {
    .navbar-nav {                    
        width: 50%;
        margin-right: 3em;
    }
    .navbar-nav > li{                
        margin-left: 6em;
    }
    .navbar > .container-fluid .navbar-brand{
        margin-left: 2em;
    }
    .navbar-default{
        padding-top: .5em;
    }
    .signup-form-box{
        height: 500px;
        margin-top: 5em;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .col-sm-8{
        margin-left: 5.5em;
    }
    .col-sm-9{
      margin-left: 5em;
    }

    .form-horizontal{
        margin-top: 2em;
    }
    .form-group{
        margin-top: 2em;
    }
}

/* ----- G L O B A L  S T Y L E S ----- */

.navbar-nav{
    border-bottom: 2px solid #9DC8C8;
}

.navbar-nav:hover{
   border-bottom: 2px solid #F6B352;
}

.navbar-default{
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-nav > li > a{
    color: #58C9B9;
    font-weight: bold;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
} 

.navbar-default .navbar-nav > li > a:hover{
    color: #F6B352;

}

.btn-primary:hover{
    color: white;
    background-color: #58C9B9;
}

.btn-primary {
    margin-top: 2em;
    margin-left: 1em;
    border: none;
    background-color: #FFBC42;
    border-radius: 20px;
    padding: .5em 2em;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
}

.btn-secondary{
    margin-top: 2em;
    margin-left: 1em;
    border: 2px solid #FFBC42;
    background-color: transparent;
    border-radius: 20px;
    padding: .5em 4em;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    color: #FFBC42;
}
.btn-secondary:hover{
    background-color: none;
    color: #58C9B9;
    border: 2px solid #58C9B9;
}
h4{
      font-family: 'Lobster', sans-serif;
      text-align: center;
      color: #9DC8C8;
      font-size: 24px;
    }


/* ----- S P E C I F I C  S T Y L E S ----- */

.profile-edit-form{
    text-align: center;
    background-color: white;
    padding-bottom: 4em;
    height: auto;
}
h1{
    color: #58C9B9;
    text-align: center;
}

.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.no-border {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none; 
}
body{ /* NEW ! */
    background-image: url(images/photography.png); 
}
.signup-form-box{
    background-color: white;
}

/*T O  T O P */
.go-top {
  position:fixed;
  bottom: 2px;
  left:0px;
  background: #3498db;
  padding:20px;
  display:none;
  color: #fff;
  cursor: pointer;
  height: 100%;
  opacity: 0.4;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  width:100px;
}
.go-top:after {
  content: '▲';
  position: absolute; 
  bottom:10px;
  left: 50px;
  font-size: 32px;
  font-weight:100;
}
/* ----- F O O T E R ----- */

.footer { 
   position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   background:#999;
   background-image: url('images/ep_naturalblack.png');
}
.footer-mid{
    color: white;
    font-family: 'Lobster', cursive;
    margin-top: .5em;
    font-size: 22px
}
.footer-ryt{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 10px;
    margin-top: 1.5em;
    text-align: center;
}
.footer-ryt p{
    margin-bottom: -.3em;
}
.footer-left{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 10px;
    margin-top: 1.5em;
    text-align: center;
}
.footer-left p{
    margin-bottom: -.3em;
}

/*T O  T O P*/
.go-top {
  position:fixed;
  bottom: 2px;
  left:0px;
  padding:20px;
  display:none;
  color: #fff;
  cursor: pointer;
  height: 100%;
  opacity: 0.4;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  width:100px;
}
.go-top:after {
  content: '▲';
  position: absolute; 
  bottom:10px;
  left: 50px;
  font-size: 32px;
  font-weight:100;
}